/venv/
/.idea/
*.xls
/__pycache__/
*.pyc
/algorithms/models/training
/algorithms/models/*/**
!/algorithms/models/*/universal*
!/algorithms/models/*/universal*/**
!/algorithms/models/*/train
!/algorithms/models/*/train/**